@import "styles/scss/global";
@import "styles/scss/settings";

.markers-list-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    background-color: $global-sidebar-bg-color;
    box-shadow: 0 0 7px rgba(black, .5);

    @include breakpoint(medium up) {
        width: 40%;
    }

    @include breakpoint(large up) {
        width: 35%;
    }

    @include breakpoint(xlarge up) {
        width: 25%;
    }

    .markers-list {
        margin: 0;
        list-style: none;
    }

    .marker {
        display: none;
        padding: ceil($global-spacing/2) $global-spacing;
        border-top: 1px solid $light-gray;
        cursor: pointer;
        transition: background-color .3s;
        
        &:hover {
            background-color: rgba($primary-color, .5);
        }

        &:first-child {
            border-top: none;
        }

        &.visible {
            display: block;
        }
    }

    .title {
        font-size: rem-calc(18);
        font-weight: bold;
    }

    .results-title {
        padding-left: $global-spacing;
    }

    .filters {
        margin-top: 0;
        background: rgba($light-gray, 0.5);
    }
}