.points-container {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 40em) {
  .points-container {
    width: 40%; } }

@media screen and (min-width: 64em) {
  .points-container {
    width: 30%; } }

@media screen and (min-width: 75em) {
  .points-container {
    width: 20%; } }

.points-container .points-list {
  margin: 0;
  list-style: none; }

.points-container .point {
  display: none;
  padding: 8px 15px;
  border-top: 1px solid #eee; }

.points-container .point:first-child {
  border-top: none;
  padding-bottom: 1px; }

.points-container .point.visible {
  display: block; }
