@import "../../../node_modules/foundation-sites/scss/global";
@import "../../../node_modules/foundation-sites/scss/util/util";

// Foundation settings file
@import "settings";

$global-spacing: 15px;
$global-bg-color: white;
$global-sidebar-bg-color: rgba(white, .9);